 *{
            margin: 0;
            padding: 0;
            background: black;
        }

        a{
            color: rgba(91, 2, 233, 0.993);
            text-decoration: none;
            transition: 0.3s;
        }

        a:hover{
            opacity: 0.7;
        }

        .logo{
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        nav{
            display: flex;
            justify-content: space-around;
            align-items:center;
        }

        .nav-list{
            list-style-type: none;
            display: flex;
            font-size: 20px;
            height: 50px;
            padding: 20px;
        }

        .nav-list li{
            letter-spacing: 3px;
            margin-left: 32px;
            padding: 20px;
        }


        .titulo{
            color:rgba(116, 15, 247, 0.801);
            text-align: center;
        }
         .imagem{
             display: flex;
            padding-left: 200px;
            padding-top: 40px;
        }

        .titulo{
            color:rgba(116, 15, 247, 0.801);
        }

        p{
            color: rgba(116, 15, 247, 0.801);
        }
         .Fragmentos{
            display: flex;
            padding-left: 200px;
            padding-top: 40px;
        }

        .texto{
            color: rgba(116, 15, 247, 0.801);
            font-size: 30px;
        }
